name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
    - uses: actions/checkout@v3
    - name: Start database
      run: docker compose up -d
      working-directory: .
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.23.0'
    - name: Test
      run: go test ./...

  frontend-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
    - uses: actions/checkout@v3
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'
    - name: Install dependencies
      run: npm install
    - name: Test
      run: npm run test:unit -- --run

  MY-CD:
    runs-on: ubuntu-latest
    needs: [backend-test, frontend-test]
    steps:
    - name: Send CD notification
      run: |
        curl -X POST \
          -H "Authorization: Bearer ${{ secrets.CD_TOKEN }}" \
          "https://cd.vozn.dpdns.org/"
